* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

#header {
  background: url('../assets/nyc2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  color: red;
}

body {
  position: relative;
  max-width: 400px;
  min-width: 340px;
  margin: auto;
}

h1 {
  margin-bottom: 35%;
  margin-top: 5px;
  padding-left: 5px;
  float: left;
  background-color: rgba(255,255,255,0.8);
}

#header h3 {
  position: relative;
  padding-right: 5px;
  float: right;
  background-color: rgba(255,255,255,0.8);
}

container {
  padding: none;
}

ul {
  list-style: none;
}